<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/lab_sheet_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# replication of anumber program using function
def replication():
   l=[1,2,3,4]
   for i in range(1,10):
      print()
   print(i*l)
replication()

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#count of numbers in the list(question-2)
l2=[1,2,3,2,1,3,2]
l1=[]
for i in set(l2):
   for j in str(i):
     print("the count of",i,"is:",l2.count(i))

the count of 1 is: 2
the count of 2 is: 3
the count of 3 is: 2

In [ ]:
#remove negative elements(question-3)
def remove_neg():
   a=[1,2,3,-1,4,5,6,-2,0,-6,-7,-8,-9]
   b=[]
   for i in a:
      if i>=0:
         b.append(i)
   print(b)
remove_neg()

[1, 2, 3, 4, 5, 6, 0]

In [ ]:
l2=[1,2,3,4,2,3,5,3]
a=set(l2)
print(list(a))

[1, 2, 3, 4, 5]

In [ ]:
#question-4 removing duplicates in list
l2=[1,2,3,2,1,3,2]
l1=[]
for i in (l2):
   if i not in l1:
       l1.append(i)
print(l1)

[1, 2, 3]

In [11]:
l=[2,3,7,9,6,5,10,11,13,17,19,]
import sympy
for i in l:
   if i==2:
       print(i)
   elif i==3:
       print(i)
   elif i%2!=0 and i%3!=0:
       if sympy.isprime(i):
          print(i)
   else:
       print("it is not a prime")

2
3
7
it is not a prime
it is not a prime
5
it is not a prime
11
13
17
19

In [ ]:
#check the element of a list is prime (question-5)
l=[2,3,7,9,6,5,10,11,13,17,19,]
for i in l:
   if i==2:
       print(i,"is a prime number")
   elif i==3:
       print(i,"is a prime number")
   elif i%2!=0 and i%3!=0:
          print(i,"is a prime number")
   else:
       print(i,"is not a prime")

2 is a prime number
3 is a prime number
7 is a prime number
9 is not a prime
6 is not a prime
5 is a prime number
10 is not a prime
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [ ]:
#remove the first and last element from the list(question-6)
def remove_lat_first():
  l=[2,3,7,9,6,5,10,11,13,17,19,]
  l.remove(l[0])
  l.remove(l[-1])
  return(l)
remove_lat_first()

[3, 7, 9, 6, 5, 10, 11, 13, 17]

In [ ]:
#extracting even numbers from a list(question-7)
l=[2,3,4,5,6,7,8]
def even_list():
   global l
   a=[]
   for i in l:
     if i%2==0:
        a.append(i)
   print(a)
even_list()

[2, 4, 6, 8]

In [ ]:
l=[1,"x",4,5.6,"z",9,"a",0,4]
[x for x in str(l) if x.isdigit ]

['[',
 '1',
 ',',
 ' ',
 "'",
 'x',
 "'",
 ',',
 ' ',
 '4',
 ',',
 ' ',
 '5',
 '.',
 '6',
 ',',
 ' ',
 "'",
 'z',
 "'",
 ',',
 ' ',
 '9',
 ',',
 ' ',
 "'",
 'a',
 "'",
 ',',
 ' ',
 '0',
 ',',
 ' ',
 '4',
 ']']

In [ ]:
#question-9
[x**2 for x in range(1,10) ]
[y**3 for y in range(1,10) ]
a=[x**2 for x in range(1,10) if x%2==0]
b=[y**3 for y in range(1,10) if y%2==0 ]
print(a+b)

[4, 16, 36, 64, 8, 64, 216, 512]

In [ ]:
#question-10
[x**2 for x in range(1,10) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#question-15
[x**2 for x in range(1,10) if x%3==0 ]

[9, 36, 81]

In [ ]:
#question-11
[x for x in range(1,20) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#question-16
[x for x in range(1,50) if x%3==0 and x%5==0]

[15, 30, 45]

In [ ]:
#question-12 length of each word in list
l=["ash","kumari","anu"]
[len(x) for x in l ]

[3, 6, 3]

In [ ]:
#question-13 find common elements between two lists
x=[x**2 for x in range(1,10) ]
print(x)
y=[y**3 for y in range(1,10) ]
print(y)
c=[z for z in (x and y) if z in x and y]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 64]

In [ ]:
#question-18
[ "fizz" if x%3==0 else "buzz" if x%5==0 else "fizzbuzz" if x%3==0 and x%5==0 else x for x in range(1,100)]

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizz',
 46,
 47,
 'fizz',
 49,
 'buzz',
 'fizz',
 52,
 53,
 'fizz',
 'buzz',
 56,
 'fizz',
 58,
 59,
 'fizz',
 61,
 62,
 'fizz',
 64,
 'buzz',
 'fizz',
 67,
 68,
 'fizz',
 'buzz',
 71,
 'fizz',
 73,
 74,
 'fizz',
 76,
 77,
 'fizz',
 79,
 'buzz',
 'fizz',
 82,
 83,
 'fizz',
 'buzz',
 86,
 'fizz',
 88,
 89,
 'fizz',
 91,
 92,
 'fizz',
 94,
 'buzz',
 'fizz',
 97,
 98,
 'fizz']

In [4]:
#question-14 removing vowels from string using list comprehension
y="aeiouAEIOU"
[x for x in ("ashwini") if x not in y]

['s', 'h', 'w', 'n']

In [10]:
#question-8 display only int data type
x=[1,2,"z",20.5,3+2j,6,5]
[y for y in x if type(y)==int]

[1, 2, 6, 5]

In [18]:
#question-17 generate prime numbers using list comprehension
z=[x for x in range(1,51) if all(x%y!=0 for y in range(2,x))]
print(z)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]