<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/lab_sheet_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
   for j in range(i):
       print("*",end="")
   print()

enter your num:6
enter your num:6
*
**
***
****
*****

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
   for j in range(i):
       print(i,end="")
   print()

enter your num:6
enter your num:6
1
22
333
4444
55555

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
  for j in range(n-i):
       print(" ",end=" ")
  for k in range(i):
       print(i,end=" ")
  print()

enter your num:6
enter your num:6
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
  for j in range(n-i):
       print(" ",end=" ")
  for k in range(i):
       print("*",end=" ")
  print()

enter your num:6
enter your num:6
          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
   for j in range(1,i):
       print(j,end="")
   print()

enter your num:7
enter your num:7

1
12
123
1234
12345

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
   for j in range(1,n-i):
       print (" ",end="")
   for k in range(1,i):
       print(k,end=" ")
   print()

enter your num:7
enter your num:7

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:

n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
   for j in range(n-i):
       print (" ",end=" ")
   for k in range(1,i):
       print(k,end=" ")
   print()

enter your num:7
enter your num:7

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(n+1):
   for j in range(n-i):
       print(" ",end=" ")
   for j in range(n,n-i,-1):
       print(j,end=" ")
   print()

enter your num:5
enter your num:5

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n, 1):
  for j in range(1,n-i+1, 1):
       print(" ",end="")
  for k in range(i):
       print(j,end=" ")
  print()

enter your num:6
enter your num:6
     5
    4 4
   3 3 3
  2 2 2 2
 1 1 1 1 1

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
for i in range(1,n):
  for j in range(n-i+1):
       print(" ",end=" ")
  for k in range(i):
       print(j,end=" ")
  print()

enter your num:6
enter your num:6
            5
          4 4
        3 3 3
      2 2 2 2
    1 1 1 1 1

In [ ]:
n=int(input("enter your num:"))
m=int(input("enter your num:"))
print("@"*n)
for i in range(1,n):
    print("@"+" "*(n-2)+"@")
print("@"*n)

enter your num:7
enter your num:7
@@@@@@@
@     @
@     @
@     @
@     @
@     @
@     @
@@@@@@@

In [ ]:
for i in range(6):
   for j in range(5-i):
      print(" ",end="")
   for k in range(i):
      print(i,end=" ")
   print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(7):
   for j in range(1,6-i):
          print(j,end="")
   for k in range(j):
          print(" ",end="")
   print()
   #print()

12345
1234
123
12
1

In [164]:
for i in range(5,0,-1):
   print(" ",str(i)*i)

  55555
  4444
  333
  22
  1

In [ ]:
for i in range(5):
  for j in range(1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1):
  for j in range(1,6):
    print("ABCDE")
  print()

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [ ]:
for i in range(1):
  for j in range(1,6):
    print("A2C4E")
  print()

A2C4E
A2C4E
A2C4E
A2C4E
A2C4E

In [ ]:
for i in range(5):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(2,11,2):
    for j in range(2,11,2):
        print(j,end=" ")
    print()

2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
2 4 6 8 10
2 4 6 8 10

In [ ]:
for i in range(1,6,2):
    for j in range(1,10,2):
         print(j,end=" ")
    print()

1 3 5 7 9
1 3 5 7 9
1 3 5 7 9

In [ ]:
for i in range(1,10):
     if i==3:
        print("123")
     elif i==6:
        print ( "456")
     elif i==9:
        print ("789" )

123
456
789

In [ ]:
print("@@@@@")
for i in range(3):
  print("@***@")
print("@@@@@")

@@@@@
@***@
@***@
@***@
@@@@@

In [ ]:
print("@@@@@")
for i in range(3):
  print("@   @")
print("@@@@@")

@@@@@
@   @
@   @
@   @
@@@@@

In [ ]:
for i in range(6):
   for j in range(5-i):
      print(" ",end="")
   for k in range(i):
      print("*",end=" ")
   print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input("enter your num:"))
s=1
for i in range(1,n+1):
  for j in range(1,i):
      print(s,end=" ")
      s=s+1
  print()

enter your num:5

1
2 3
4 5 6
7 8 9 10

In [ ]:
n=int(input("enter your num:"))
s=10
for i in range(1,n+1):
  for j in range(1,i):
      print(s,end=" ")
      s=s-1
  print()

enter your num:5

10
9 8
7 6 5
4 3 2 1

In [ ]:
n=int(input("enter your num:"))
s=1
for i in range(1,n+1):
  for j in range(n-i):
      print(" ",end="")
  for k in range(i):
      print(s,end=" ")
      s=s+1
  print()

enter your num:4
   1
  2 3
 4 5 6
7 8 9 10

In [39]:
n=int(input("enter your num:"))
s=25
for i in range(1,n+1):
  for j in range(n-i):
      print(" ",end="")
  for k in range(i):
      print(s,end=" ")
      s=s-1
  print()

enter your num:5
    25
   24 23
  22 21 20
 19 18 17 16
15 14 13 12 11

In [ ]:
print("@@@@@")
for i in range(3):
   if i==0:
      print("@***@")
   elif i==1:
      print ("@*0*@")
   else:
      print("@***@")
print("@@@@@")

@@@@@
@***@
@*0*@
@***@
@@@@@

In [ ]:
for i in range(1,10):
     if i==3:
        print("000")
     elif i==6:
        print ( "111")
     elif i==9:
        print ("000" )

000
111
000

In [ ]:
for i in range(1,10):
     if i==3:
        print("010")
     elif i==6:
        print ( "010")
     elif i==9:
        print ("010" )

010
010
010

In [ ]:
for i in range(1,10):
     if i==3:
        print("010")
     elif i==6:
        print ( "101")
     elif i==9:
        print ("010" )

010
101
010

In [ ]:
for i in range(1,10):
     if i==3:
        print("987")
     elif i==6:
        print ("654")
     elif i==9:
        print ("321")

987
654
321

In [ ]:
for i in range(1,10):
     if i==3:
        print("147")
     elif i==6:
        print ( "258")
     elif i==9:
        print ("369" )

147
258
369

In [ ]:
for i in range(5):
  for j in range(5):
    if i==j:
      print("1",end="")
    else:
      print("0",end="")
  print()

10000
01000
00100
00010
00001

In [ ]:
for i in range(5):
  for j in range(5):
    if i>j:
      print("1",end="")
    elif i==j:
      print("\\",end="")
    else:
      print("0",end="")
  print()

\0000
1\000
11\00
111\0
1111\

In [ ]:
print("12345")
for i in range(3):
   if i==0:
      print("12344")
   elif i==1:
      print ("12333")
   else:
      print("12222")
print("11111")

12345
12344
12333
12222
11111

In [ ]:
print("12345")
for i in range(3):
   if i==0:
      print("23451")
   elif i==1:
      print ("34512")
   else:
      print("45123")
print("51234")

12345
23451
34512
45123
51234

In [ ]:
print("AAAAA")
for i in range(3):
   if i==0:
      print("BBBBB")
   elif i==1:
      print ("CCCCC")
   else:
      print("DDDDD")
print("EEEEE")

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [32]:
for i in range(5):
  for j in range(5):
     if i==j:
       print("*",end=" ")
     elif j==5-i-1:
       print("*",end=" ")
     else:
        print(" ",end=" ")
  print()

*       *
  *   *
    *
  *   *
*       *

In [22]:
for i in range(1,6):
  for j in range(1,6):
     if i==j:
       print(i,end=" ")
     elif j==5-i+1:
       print(j,end=" ")
     else:
        print(" ",end=" ")
  print()

1       5
  2   4
    3
  2   4
1       5

In [38]:
for i in range(1,6):
  for j in range(1,4):
     if i==j:
       print(i,end=" ")
     elif j==5-i+1:
       print(j,end=" ")
     else:
        print(" ",end=" ")
  print()

1
  2
    3
  2
1