<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/lab_2_sheet_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# amstrong number program
num=int(input("enter your num:"))
k=num
s=0
while k>0:
  k=num
  while k>0:
     r=k%10
     s=s+(r**3)
     k=k//10
  if s==num:
     print("given number is amstrong")
  else:
     print("not amstrong number")

enter your num:153
given number is amstrong

In [ ]:
# amstrong number program
num=int(input("enter your num:"))
k=num
s=0
while k>0:
     r=k%10
     s=s+(r**3)
     k=k//10
if s==num:
     print("given number is amstrong")
else:
     print("not amstrong number")

enter your num:153
given number is amstrong

In [ ]:
#multiplication of tables from 1 to 10
m=int(input("enter your number"))
n=int(input("enter your number"))
for i in range (m,n):
  for j in range(1,n):
   print(i,"X",j,"=",i*j)
  print()

enter your number1
enter your number11
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
 # check the palindrome or not
 x=input("enter your number:")
 y=x[::-1]
 if x==y:
   print("it is palindrome")
else:
   print("not a palindrome")

enter your number:wow
it is palindrome

In [ ]:
x=int(input("enter your number:"))
y=str(x)
print(len(y))

enter your number:1234567
7

In [ ]:
x=int(input("enter your number:"))
count=0
while x>0:
   count=count+1
   x=x//10
print("the count of the given number is",count)

enter your number:12345
the count of the given number is 5

In [ ]:
n=int(input(("enter your number:")))
s=0
for i in range(1,n):
   if n%i==0:
     s=s+i
if s==n:
  print("it is a perfect number:")
else:
  print("it is not")

enter your number:4
it is not

In [ ]:
n=int(input(("enter your number:")))
for i in range(1,n+1):
   s=0
   for k in range(1,i):
      if i%k==0:
          s=s+k
   if s==i:
        print("it is a perfect number:",i)

enter your number:100
it is a perfect number: 6
it is a perfect number: 28

In [ ]:
x=int(input("enter your number:"))
y=int(input("enter your number:"))
z=int(input("enter your number:"))
if x>y and x>z:
   if y>z:
      print("second is  greater",y)
   else:
      print("third is greater",z)
elif y>x and y>z:
   if x>y:
      print ("second greater",x)
   else:
      print ("third is greater",y)
else:
   if x>z and y>z:
      print ("second is greater",z)
   else:
      print ("third greater is",y)

enter your number:5
enter your number:9
enter your number:34
third greater is 9

In [ ]:
n=int(input("enter your number:"))
a,b=0,1
s=0
if n<=0:
   print ("enter the number greater than 0")
else:
   for i in range(0,n):
        print (s, end=" ")
        a=b
        b=s
        s=a+b
        #print(s)

enter your number:10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# decimal to binary
n=int(input("enter num:"))
x=[]
while n!=0:
  r=n%2
  x. append(r)
  n=n//2
x. reverse()
print(x)
for i in x:
   print (i,end="")

enter num:5
[1, 0, 1]
101

In [ ]:
x=int(input("enter your num;"))
y=int(input("enter your num;"))
S1=0
S2=0
for i in range(1,x):
    if x% i==0:
       S1=S1+i
for j in range(1,y):
    if y%j==0:
       S2=S2+j
if S1==y and S2==x:
    print("amicable")
else:
    print ("not amicable")

enter your num;220
enter your num;284
amicable

In [ ]:
A= int(input("enter Alice amount:"))
B=int(input("enter Bob amount:"))
C=int(input("enter Charlie amount:"))
X=int(input("enter Netflix amount:"))
if A+B>X:
   print("Alice and Bob are eligible")
elif B+C>X:
   print ("Bob and Charlie are eligible")
else:
   print ("Charlie and Alice are eligible")

enter Alice amount:220
enter Bob amount:202
enter Charlie amount:300
enter Netflix amount:400
Alice and Bob are eligible

In [ ]:
w=int(input("enter weight of water millon"))
if w%2==0 and w>0:
   print("it is possible to divide the watermelon they want")
else:
   print ("they can't divide it")

enter weight of water millon6
it is possible to divide the watermelon they want

In [ ]:
import math
x=int(input("enter your number:"))
n=int(input("enter the value of n:"))
S=0
for i in range (1,n):
    y=x**i/math.factorial(i)
    S=S+y
print (S)

enter your number:3
enter the value of n:4
12.0