<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/labsheet8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 question1. Consider two lists L1 and L2. Here L1 contains a list of colors and L2 contains their color
"""code as:
L1=[‘Black’, ‘White’, ‘Gray’]
L2=[255, 0, 100]
Display the content as: (‘Black’, 255) (‘White’,0) (‘Gray’,100)
Note: zip() function"""
l1=["black","white","gray"]
l2=[255,0,100]
c=zip(l1,l2)
print(list(c))

[('black', 255), ('white', 0), ('gray', 100)]

In [ ]:
# 1 question
l1=["black","white","gray"]
l2=[255,0,100]
c=zip(l1,l2)
print(c)

<zip object at 0x7f42dc829080>

2. Write a program to create a set containing 10 randomly generated numbers in the range 15 to
45. Count how many of these numbers are less than 30. Delete all numbers which are greater
than 35.

In [ ]:
# 2 question
s=set()
c=0
b=set()
for i in range(15,45):
  s.add(i)
  if i<=30:
    c=c+1
  elif i>35:
     b.add(i)
print(c)
b.clear()
print(b)

16
set()

3.Create an empty set. Write a program that adds five new names to this set, modifies one
existing name and deletes two names existing in it.

In [ ]:
#3 question
s=set()
l=["ash","van","anu","baby","rubby"]
for i in l:
   s.add(i)
   s.discard("ash")
   s.add("anu")
   s.discard("van")
   s.discard("baby")
print(s)

{'anu', 'rubby'}

In [ ]:
#3 question
s=set()
l=["ash","van","anu","baby","rubby"]
for i in l:
   s.add(i)
   s.remove("ash")
   s.discard("van")
print(s)

KeyError: 'ash'

In [ ]:
#3 question
s=set()
l=["ash","van","anu","baby","rubby"]
for i in l:
   s.add(i)
   s.remove("ash")
   s.remove("van")
print(s)

KeyError: 'van'

4.Write a program to assign grades of students and display all the grades using keys() and get()
method of a dictionary.

In [ ]:
#question_4
s={"ashwini":"A","anusha":"B","bharathi":"B+"}
c=s.get("ashwini")
x=s.keys()
y=s.values()
print(x)
print(c)
print(y)
for i in s:
   y=s.values()
print(y)

dict_keys(['ashwini', 'anusha', 'bharathi'])
A
dict_values(['A', 'B', 'B+'])
dict_values(['A', 'B', 'B+'])

6.Write a program to print and store squares of numbers into a dictionary from 1 to 20.
Example:
D={1:1, 2:4, 3:9, 4:16, ..........}

In [ ]:
#question_6
l=[]
for i in range(1,21):
       s=i**2
       c=tuple((i,s))
       l.append(c)
l2=dict(l)
print(l2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

9.Create two dictionaries- one containing grocery items and their prices and other containing
grocery items and quantity purchased. By using the values from these two dictionaries
computer the total bill.
Example:
Prices={‘Bottles’:30, ‘Tiffin’:100, ‘Bag’:400, ‘Bicycle’:2000}
Stock={‘Bottles’:10, ‘Tiffin’:8, ‘Bag’:1, ‘Bicycle’:5}

In [ ]:
#question 9
prices={"bottles":30,"tiffin":100,"bag":400,"bicycle":2000}
stock={"bottles":10,"tiffin":8,"bag":1,"bicycle":5}
c=0
for item in prices:
   c=c+prices[item]*stock.get(item,0)
print(c)

11500

10. Create a dictionary of 10 user names and passwords. Receive the user name and password
from keyboard and search from them in the dictionary. Print appropriate message on the screen
based on whether a match is found or not.

In [ ]:
#question_10
l=[]
for i in range(5):
  a=input("enter your names:")
  b=int(input("enter your password:"))
  c=tuple((a,b))
  l.append(c)
y=dict(l)
print(y)

enter your names:ashwini
enter your password:123
enter your names:bharathi
enter your password:432
enter your names:anusha
enter your password:678
enter your names:vanaja
enter your password:1272004
enter your names:manas
enter your password:768
{'ashwini': 123, 'bharathi': 432, 'anusha': 678, 'vanaja': 1272004, 'manas': 768}

5. Write a function histogram that takes string as parameter and generates a frequency of
characters contained in it.
Example:
S=”AAPPLE”
Dictionary={‘A’:2, ‘E’:1, ‘P’:2, ‘L’:1}

In [ ]:
#question_5
s="aapple"
c=0
l=[]
l2=[]
for i in "aapple":
   l.append(i)
for element in l:
   y=l.count(element)
   l2.append((element,y))
z=dict(l2)
print(z)

{'a': 2, 'p': 2, 'l': 1, 'e': 1}

7. Write a program to pass a list to a function. Calculate the total number of positive and negative
numbers from the list and then display the count in terms of dictionary
Example:
L=[-1,2,-3,4]
D={“Neg”:2, “Pos”:2]

In [ ]:
#question_7
l=[1,2,3,4,5-1,-2,-3,-4]
l2=[]
a=0
b=0
for i in l:
   if i>=0:
      a=a+1
   else:
      b=b+1
l2.append(a)
l2.append(b)
x=["neg","pos"]
y=zip(x, l2)
c=list(y)
print (dict(c))

{'neg': 5, 'pos': 3}

8. Create a dictionary containing names of students and marks obtained by them in three subjects.
Write a program to replace the marks in three subjects with the total in three subjects, and
average marks. Also report the topper of the class.
Example:
Students={

‘Dipti’:{‘Maths’:48,’eng’:60, ‘hindi’:95},
‘Smriti”:{‘Maths’:75, ‘eng’:68, ‘hindi’:89},
‘Subodh’:{‘Maths’:45, ‘eng’:66, ‘hindi’:87}
}

In [23]:
Students={
'Dipti':{'Maths':48,'eng':60,'hindi':95},
'Smriti':{'Maths':75, 'eng':68, 'hindi':89},
'Subodh':{'Maths':45, 'eng':66, 'hindi':87} }
l=[]
s=0
for i,j in Students.items():
  c=Students[i].values()
  b=Students[i].keys()
  count=0
  for k in b:
     count=count+1
  print(count)
  for y in c:
    s=s+y
    avg=s/len(c)
    l.append(s)
  print(s)
  print(avg)
print(max(l),"the person who scored ",max(l),"is the topper of the class")
Students[i].update({"total_marks":s,"avgerage_marks":avg})
print(Students)
Students[i]={"total_marks":s,"avgerage_marks":avg}
print(Students)

3
203
67.66666666666667
3
435
145.0
3
633
211.0
633 the person who scored  633 is the topper of the class
{'Dipti': {'Maths': 48, 'eng': 60, 'hindi': 95}, 'Smriti': {'Maths': 75, 'eng': 68, 'hindi': 89}, 'Subodh': {'Maths': 45, 'eng': 66, 'hindi': 87, 'total_marks': 633, 'avgerage_marks': 211.0}}
{'Dipti': {'Maths': 48, 'eng': 60, 'hindi': 95}, 'Smriti': {'Maths': 75, 'eng': 68, 'hindi': 89}, 'Subodh': {'total_marks': 633, 'avgerage_marks': 211.0}}

In [49]:
Students={
'Dipti':{'Maths':48,'eng':60,'hindi':95},
'Smriti':{'Maths':75, 'eng':68, 'hindi':89},
'Subodh':{'Maths':45, 'eng':66, 'hindi':87} }
l=[]
max_marks=0
topper=""
for i,j in Students.items():
  c=Students[i].values()
  b=Students[i].keys()
  for y in c:
    total_marks=total_marks+y
    avg=total_marks/len(c)
    l.append(s)
    Students[i]={"total_marks":s,"avgerage_marks":avg}
    if total_marks>max_marks:
      max_marks=total_marks
      topper=i
print(Students)
print(topper,"topper with",max_marks)

{'Dipti': {'total_marks': 633, 'avgerage_marks': 67.66666666666667}, 'Smriti': {'total_marks': 633, 'avgerage_marks': 145.0}, 'Subodh': {'total_marks': 633, 'avgerage_marks': 211.0}}
Subodh topper with 633