<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/List_manipulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list manipulations
"""list are used to store multiple data types
list are ordered
lists are mutable"""
#creating a list
x=[]#empty list
print(x)
print(type(x))
print(id(x))
#list with multiple elements
a=[1,2,3,4,5.6,"ashu"]
print(a)
print(type(a))
print(id(a))
a[0]=23
print(a)
print(id(a))

[]
<class 'list'>
136423692307968
[1, 2, 3, 4, 5.6, 'ashu']
<class 'list'>
136423695023872
[23, 2, 3, 4, 5.6, 'ashu']
136423695023872

In [ ]:
#slicing
A=[1,2,3,5,6]
print(A[2:3])
print (A[::])
print (A[::-1])

[3]
[1, 2, 3, 5, 6]
[6, 5, 3, 2, 1]

In [ ]:
#Traversing in list
# Indexing and slicing
for i in ([1,2,3,4,5]):
    print(i)

1
2
3
4
5

In [ ]:
a=len(A)
print (a)
for i in (A):
    print (i)

5
1
2
3
5
6

In [ ]:
a=[1,2,3,4,5]
b=len(a)
print (b)
for  index, element in enumerate(a):
    print ("forward index:", index,"position:", element, "backword index:", index-b)

5
forward index: 0 position: 1 backword index: -5
forward index: 1 position: 2 backword index: -4
forward index: 2 position: 3 backword index: -3
forward index: 3 position: 4 backword index: -2
forward index: 4 position: 5 backword index: -1

In [1]:
#comparison operators(>,<,==,<=,>=)
a=[34,56,78,90,23]
b=[1,2,3,4,4,5]
print(a>b)
print (b<a)
print (a>=b)
print(a<=b)
print (a==b)
print (a!=b)

True
True
True
False
False
True

In [3]:
#list operations
print (a+b)
print (a*2)
c=2
s="as"
print (a+c)
print (a+s)

[34, 56, 78, 90, 23, 1, 2, 3, 4, 4, 5]
[34, 56, 78, 90, 23, 34, 56, 78, 90, 23]

TypeError: can only concatenate list (not "int") to list

In [4]:
print (a*b)

TypeError: can't multiply sequence by non-int of type 'list'