<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/Set_manipulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""set() :it consists of different kind of data types it is enclosed with curly braces separated by camma
it does not allowed duplicates and indexing and slicing
it is unorderedðŸ¥°ðŸ™ƒðŸ‘‹"""

'set() :it consists of different kind of data types it is enclosed with curly braces separated by camma\nit does not allowed duplicates and indexing and slicing\nit is unorderedðŸ¥°ðŸ™ƒðŸ‘‹'

In [ ]:
#creating of sets
S={}
d=set(S)
print (S)
print (type(S))
print (type (d))

{}
<class 'dict'>
<class 'set'>

In [ ]:
#set manipulations
""" add(): it will add an particular element to the set
The syntax:set.add(ele) """
a={1,2,3}
print (a.add(3))

None

In [ ]:
#max() :
print (max(a))

3

In [ ]:
#min()
print (min(a))

1

In [ ]:
#sum() :
print (sum(a))

6

In [ ]:
#len() :
print (len(a))

3

In [ ]:
b={1,4,3}
print (a.update(b))

None

In [ ]:
# union():combines two sets gives output
print (a.union (b))

{1, 2, 3, 4}

In [ ]:
#intersection() :it will display only common elements in the set
print (a.intersection (b))

{1, 3, 4}

In [ ]:
#remove() :it will remove particular element in the set if the element is not present in the  set it will give you error
#syntax:set.rmove(ele)
print (a.remove(3))

None

In [ ]:
print (a.remove(5))

KeyError: 5

In [ ]:
#discard():it will remove element in the set but do not give error if the given element is not in the set
print (a.discard(1))
print (a.discard(6))

None
None

In [27]:
#pop() :it will remove the first element in the  set
#syntax:set.pop()
b={"ðŸ‘‹",4,5,6}
print (b.pop())

ðŸ‘‹

In [28]:
#clear() :it will clear all elements from the set
#syntax:set.clear()
print (b.clear())

None