<a href="https://colab.research.google.com/github/ashwinijadi123/Basic-python-programs/blob/main/Tuple_maniplations0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#basic operations in python
#Length, concatenate, reputation, membership, iterative statements, maximum, minimum, index, count, conversion of tuples#
a=(12,34,10,20,50,"ashwini")
b=(56,23,54,34,10)
#len()
print (len(a))

6

In [ ]:
print (len(b) )

5

In [ ]:
print (len(a[-1]))

7

In [ ]:
#concatenation
print (a+b)

(12, 34, 10, 20, 50, 'ashwini', 56, 23, 54, 34, 10)

In [ ]:
#repetition
print (b*2)

(56, 23, 54, 34, 10, 56, 23, 54, 34, 10)

In [ ]:
#iterative statements
for element in (a):
    print (element)

12
34
10
20
50
ashwini

In [ ]:
for i in range(len(a)):
    print (i)

0
1
2
3
4
5

In [ ]:
c=int(input("enter a value:"))
print(c in a)

enter a value:12
True

In [ ]:
print(a in b)

False

In [ ]:
print (a not in b)

True

In [ ]:
print (max(b))

56

In [ ]:
print(min(b))

10

In [ ]:
print (max(a))

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
print (a.count(12))

1

In [ ]:
print (b.count(12))

0

In [ ]:
print (a.count("ashwini"))

1

In [ ]:
print(a[1])

34

In [ ]:
print (a[::-1])

('ashwini', 50, 20, 10, 34, 12)

In [ ]:
print(a[1:2:1])

(34,)

In [ ]:
print (list(a))

[12, 34, 10, 20, 50, 'ashwini']

In [ ]:
print (set(a))

{34, 10, 12, 50, 'ashwini', 20}

In [4]:
#creating of tuple
a=( )#empty tuple
print(a)
print(type(a))
x=(2)#not a tup
print(x)
print(type(x))
y=(3,)#tup with single element
print(y)
print(type(y))
tup1=1,2,3,4,5,"hello"#tup without paranthesis
print(tup1)
print(type(tup1))
x,y=(1,2,3,4,5,6),(6,7,8,9,0)
print(x,y)

()
<class 'tuple'>
2
<class 'int'>
(3,)
<class 'tuple'>
(1, 2, 3, 4, 5, 'hello')
<class 'tuple'>
(1, 2, 3, 4, 5, 6) (6, 7, 8, 9, 0)

In [6]:
#nested tuples
a=(1,2,3,4,(3,4,5,6))
print(type(a))
for i in a:
   print(i)

<class 'tuple'>
1
2
3
4
(3, 4, 5, 6)

In [10]:
b=(6,77,8,9)#index function
print(b.index(6))
print(b)

0
(6, 77, 8, 9)

In [19]:
b=(2,)
del b
print( b )
print(b.pop())
print(b.remove())

NameError: name 'b' is not defined

In [39]:
def sum(c):
  x=max(c)
  y=min(c)
  print(x,y)
c=(1,2,3,4,5,6,7,8)
(max,min)= sum(c)
print(x=max(c))
print(y=max(c))

8 1

TypeError: cannot unpack non-iterable NoneType object

In [42]:
#zip function
t=(1,2,3,4)
t1=(5,67,8)
print(tuple(zip(t,t1)))
print(list(zip(t,t1)))

((1, 5), (2, 67), (3, 8))
[(1, 5), (2, 67), (3, 8)]

In [44]:
t=((1,2,3,4),(2,4,6,8),(7,8,9,0))
t1=(5,67,8)
print(t)
print(str(t))

((1, 2, 3, 4), (2, 4, 6, 8), (7, 8, 9, 0))
((1, 2, 3, 4), (2, 4, 6, 8), (7, 8, 9, 0))

In [51]:
#enumerate functionto printwith index values
for index,i in enumerate (t):
   print(index,i)

0 (1, 2, 3, 4)
1 (2, 4, 6, 8)
2 (7, 8, 9, 0)

In [54]:
x=(3,4,5,0,1,7,9,10,100)# tuple does not support sort function
print(sort(x))

NameError: name 'sort' is not defined

In [53]:
x=(3,4,5,0,1,7,9,10,100)#tup sup sorted function
print(sorted(x))

[0, 1, 3, 4, 5, 7, 9, 10, 100]

In [58]:
#swap
x=2
y=3
x,y=y,x
print(x,y)

3 2